// Globals

$primary: rgb(39, 39, 39);
$secondary: white;

// Global Font

@font-face {
  font-family: "Pieces of Eight";
  src: url("assets/fonts/Pieces of Eight.ttf") format("truetype");
}

header {
  font-family: "Pieces of Eight", sans-serif;
  font-size: 5rem;
}

.tile > .title {
  font-family: "Pieces of Eight", sans-serif;
  font-size: 2rem;
}

@media (max-width: 768px) {
  header {
    font-size: 3rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
}

// General Classes

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.tile {
  min-height: 100px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: $primary;
  color: white;
}

@media (max-width: 1024px) {
  .tile {
    width: 100% !important;
  }
}

// Container

.container {
  margin: 0 auto;
  max-width: 1344px;
}

@media (min-width: 1024px) and (max-width: 1215px) {
  .container {
    max-width: 960px;
  }
  .news-feed {
    max-height: 771px !important;
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
  .container {
    max-width: 1152px;
  }
  .news-feed {
    max-height: 640px !important;
  }
}

// News Feed

.news-feed {
  overflow: auto;
  max-height: 591px;
  width: calc(50% - 7.5px);
  scrollbar-width: none;
}

.news-feed::-webkit-scrollbar {
  display: none;
}

.news-feed-item {
  width: 100%;
  border-radius: 5px;
  background-color: $secondary;
  color: $primary;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-flex;
  .title {
    padding: 5px 0 5px 0;
  }
  .info {
    font-size: 0.8rem;
    color: #555555;
  }
  .text-container {
    width: 100%;
    padding: 10px;
  }
  hr {
    width: 100%;
  }
}

// About

.about {
  width: calc(50% - 7.5px);
}

// Gallery

.gallery {
  .images {
    padding-top: 10px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
  .button {
    background-color: $secondary;
    color: $primary;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: calc(50% - 5px);
    text-align: center;
    margin-top: 10px;
  }
  .button:hover {
    filter: brightness(0.9);
  }
  .prev {
    margin-right: 5px;
  }
  .next {
    margin-left: 5px;
  }
}

// Misc

header,
footer {
  background-color: $primary;
  color: white;
  padding: 20px 0 20px 0;
}

.main {
  padding: 30px 15px 30px 15px;
  background-color: $secondary;
}

a {
  color: #485fc7;
  text-decoration: none;
}

// Custom Scrollbar

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.35);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
