// Globals

$primary: rgb(39, 39, 39);
$secondary: white;

// Global Font

@font-face {
  font-family: "Pieces of Eight";
  src: url("assets/fonts/Pieces of Eight.ttf") format("truetype");
}

header {
  font-family: "Pieces of Eight", sans-serif;
  font-size: 6rem;
}

.tile > .title {
  font-family: "Pieces of Eight", sans-serif;
  font-size: 2rem;
}

@media (max-width: 768px) {
  header {
    font-size: 12vw;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
  background-color: $primary;
}

// General Classes

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.tile {
  min-height: 100px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  color: $primary;
}

@media (max-width: 1024px) {
  .tile {
    width: 100% !important;
  }
}

// Header Gallery

.header-gallery {
  img {
    width: 100%;
    max-height: 100vh !important;
    object-fit: cover;
    object-position: top;
    min-height: 100vh;
    filter: grayscale(100%) brightness(50%);
  }
  header {
    position: absolute !important;
    top: 3%;
    width: 100%;
    text-align: center;
  }
}

// Container

.container {
  margin: 0 auto;
  max-width: 1344px;
  padding: 30px 15px 30px 15px;
}

@media (min-width: 1024px) and (max-width: 1215px) {
  .container {
    max-width: 960px;
  }
  .news-feed {
    max-height: 771px !important;
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
  .container {
    max-width: 1152px;
  }
  .news-feed {
    max-height: 640px !important;
  }
}

// News Feed

.news-feed {
  overflow: auto;
  max-height: 591px;
  scrollbar-width: none;
}

.news-feed::-webkit-scrollbar {
  display: none;
}

.news-feed-item {
  width: 100%;
  border-radius: 5px;
  background-color: #dddddd;
  color: $secondary;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-flex;
  .title {
    padding: 5px 0 5px 0;
  }
  .info {
    font-size: 0.8rem;
    color: #555555;
  }
  .text-container {
    width: 100%;
    padding: 10px;
  }
  hr {
    width: 100%;
  }
}

// Video

.video {
  .container {
    position: relative;
    padding-top: 54%;
    iframe {
      padding-top: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Misc

header {
  background-color: transparent;
  color: $secondary;
}

footer {
  background-color: $primary;
  color: white;
  padding: 20px 0 20px 0;
}

.body {
  background-color: $primary;
}

a {
  color: slateblue;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  border-color: #888888;
}

// Animations

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Custom Scroll

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.35);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(90, 90, 90, 0.5);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
